# SelfBeer configuration
PORT=3000
RELAY_GPIO=26
POUR_MS=15000
CONFIG_ID=0xd38655ad3441438e768552b40f8e068ff26a04343093483b3872a3bacfc50173
ENDPOINT_URL=https://selfbeer.yourdomain.com/api/verify
STATUS_WEBHOOK_URL=https://self-beer-semaphore.vercel.app/api/status
LCD_ADDRESS=0x27
